@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    /* Remises à zéro */
    margin: 0;
    padding: 0;
    font-family: "Inria Sans", sans-serif;
    text-decoration: none;
    color: black !important;
}


/*---------- LOGIN ----------*/

#lgiBody {
    /* Insertion de l'image de fond pour la version pc */
    background-image: url("../ressources/voiture_fond.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#lgiCont {
    background-color: white;

    /* La division qui contient le formulaire est en position absole à droite pour la version pc */
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    /* Gestion de sa taille pour la version pc */
    width: 40%;
    min-width: 400px;

    text-align: center;
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 
}

#lgiTittle {
    margin: 7% 0;
    text-shadow: 0.06em 0.06em 0.2em rgb(155, 155, 155);
    /* Je ne sais pas encore comment rendre la taille du titre responsive */

    font-size: 38pt;
}

#lgiTittle + hr {
    border: 1.5px solid black;
    border-radius: 5px;
    margin-left: 7%;
    margin-right: 7%;
}

#lgiForm {
    height: 45%;
    margin: 5% 0;

    /* Répartition homogène des éléments dans le formulaire */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.lgiInput {
    border: 0;
    border-bottom: 1px solid gray;

    font-size: 15pt;

    width: 70%;
    padding: 7px;
}

.lgiInput:focus {
    outline: none;
}

#lgiSubmit {
    /* On ajoute une image de fond au bouton */
    background-image: url("../ressources/encre_rectangle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Des angles arrondis et pas de bodure */
    border-radius: 15px;
    border: 0;

    /* Traitement du texte */
    font-size: 15pt;
    font-weight: bold;
    color: white;
    text-shadow: 0.06em 0.06em 0.2em rgb(0, 0, 0);

    padding: 10px 40px;
}

#lgiSubmit:hover {
    transform: translatey(3px);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#lgiForm + div {
    margin-top: 5%;
    color: gray;
    font-size: 13pt;
}

#lgiSignUp {
    text-align: right;
    margin-top: 3%;
}

#lgiSignUp img {
    max-height: 14pt;
}

#lgiSignUp a {
    text-decoration: none !important;
    color: black;
    font-size: 14pt;

    margin-right: 18%;
}

#lgiLogo {
    max-height: 50px;

    /* Son contenant est la fenêtre */
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media all and (max-width:550px) {
    /* Cas d'une fenêtre de largeur inférieure à 550px [mobile] */

    #lgiCont {
        width: 100%;
    }
}



/*---------- SIGN UP ----------*/

#sguBody {
    margin: 0;
    padding: 0;

    /* Insertion de l'image de fond pour la version pc */
    background-image: url("../ressources/encre.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

#sguCont {
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 
    text-align: center;

    background-color: rgba(255, 255, 255, 0.9);

    border-radius: 15pt;

    /* Son container est la fenêtre et c'est le conteneur du logo */
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

    #sguCont {

        /* Gestion du dépassement de contenu */
        overflow: auto;
    }

}

#sguTitle {
    font-size: 30pt;
}

#sguFormStandard {
    /* Conteneur du logo */
    position: relative;
}

.sguInput {
    border: 0;
    border-bottom: 1px solid gray;

    font-size: 15pt;

    width: 70%;
    padding: 7px;

    background-color: rgba(255, 255, 255, 0);
}

#sguLogo {
    max-height: 40px;

    position: absolute;
    bottom: 10px;
    right: 10px;

    opacity: 0.8;
}





/*---------- ACCEUIL ----------*/

/*#aclBody {
    padding-left: 35%;
    padding-right: 35%
}*/


#aclBody > h1 {
    text-align: center;
    font-size: 45px;
}

hr {
    width: 90%;
}

#aclBody > h2 {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    font-size: 35px;
}

#aclBody > h3 {
    position: relative;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    left: calc(7% - 10px);
    margin-top: 50px;
}

.alignLeft {
    position: relative;
    left: calc(10% - 10px);
    text-align: left;
    max-width: 72%;
}

.alignRight {
    position: relative;
    left: -10%;
    text-align: right;
    margin-left: 28%;
}

p {
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 15px;
}


/*---------- TRAJETS ----------*/

#searchField {
    border: solid black 1px;
    height: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

}

.trajet {
    position: relative;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 75%;
    min-width: 320px;
    max-width: 700px;
    height: 120px;
    text-decoration: none;
    color: black !important;
    display: flex;
    flex-direction: column;
}

.trajet > a {
    text-decoration: none;
    color: black;
    width: 75%;
    min-width: 320px;
    max-width: 700px;
    height: 120px;
}

/*Icone voiture rouge*/

.sansVehicule #autoRouge{
    position: absolute;
    display: block !important;

    max-width: 40px;
    max-height: 100%;


    top: 25px;
    left: calc(100% - 60px);

}

/*Icone lien trajet --> conversations*/
#convLink{
    position: relative;
    display: block !important;

    max-width: 40px;
    max-height: 100%;

    left: calc(37.5% - 60px);
    
    top: 70px;
    z-index: 10;


}

.dateTrajet {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-left: 20px;
    margin-top: 10px ;
    margin-bottom: 5px ;
    display: block;
}

.contTrajet {
    display: flex;
}

.heureDepart, .heureArrivee {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px ;
    margin-bottom: 5px ;
}

.pointDepart, .pointArrivee {
    flex: 1;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px ;
    margin-bottom: 10px ;
    text-align: center;
    padding-top: 7px;
}

.heureDepart {
    position: absolute;
    left: 20px;
    top: 35px;
}

.heureArrivee {
    position: absolute;
    top: 35px;
    left: calc(45% + 30px);
}

.pointDepart {
    position: absolute;
    left: 20px;
    top: 75px;
    max-width: 35%;
    
}

.pointArrivee {
    position: absolute;
    top: 75px;
    left: calc(45% + 5px);
    max-width: 35%;
}





/*#########--Icone trajet--#########*/

.iconeTrajet {
    position: relative;
}
.rond::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border: solid 4px black;
    border-radius: 40px;
    z-index: 10;

    top: 20px;
    left: 42px;
}

.rond::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border: solid 4px black;
    border-radius: 40px;
    z-index: 10;

    top: 20px;
    left: 45%;
    margin-left: 50px;
}

.trait::before{
    position: absolute;
    content: '';
    width: calc(45% + 10px);
    height: 5px;
    background-color: black;
    z-index: 9;
    min-width: 110px;
    max-width: 450px;

    top: 27px;
    left: 50px;
}

@media all and (max-width:550px) {
    /* Cas d'une fenêtre de largeur inférieure à 550px [mobile] */

    .rond::before{
        top: -3px;
        left: 60px;
    }
    
    .rond::after {
        top: 31px;
        left: 60px;
        margin-left: 0;
    }

    .trait::before{
        width: 5px;
        height: 34px;
        min-width: 0;
    
        top: 2px;
        left: 66.5px;
    }
        
    .trajet {
        height: 100px;
    }

    .sansVehicule #autoRouge {
        top: 20px;
    }

    #convLink {
        top: 60px;

    }

    .heureDepart {
        position: absolute;
        top: 35px;
        left: 5px;
    }
    
    .heureArrivee {
        position: absolute;
        top: 69px;
        left: 5px;
    }
    
    .pointDepart {
        position: absolute;
        top: 28px;
        left: 85px;
        max-width: 50%;
    }
    
    .pointArrivee {
        position: absolute;
        top: 62px;
        left: 85px;
        padding-left: 0px;
        max-width: 50%;
    }


}

/*---------- CONVERSATIONS ----------*/

#titlePage {
    text-decoration: underline;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;

}
.conversations{
    background-color: lightgrey;
    border-radius: 15px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 75%;
    min-width: 320px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.titleConv {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-left: 20px;
    margin-top: 10px ;
    margin-bottom: 5px ;
}

.messageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lastMessage {
    flex: 1;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5px ;
    margin-bottom: 5px ;
}

.lastMessageTime{
    text-align: right;
    margin-right: 20px;
    margin-top: 5px ;
    margin-bottom: 5px ;
    
}


/*---------- HISTORIQUE ----------*/

.subTitlePage {
    position: relative;
    text-decoration: underline;
    left: calc(30% - 100px);
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
}





/*---------- HEADER ----------*/


#banner {
    /* Insertion de l'image de fond de la bannière d'entête */
    background-image: url("../ressources/encre_rectangle.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 15px grey;
    
    /* La bannière doit suivre le déplacement de l'utilisateur dans la page */
    position: fixed;

    /* Gestion de sa taille et de ses marges internes */
    padding: 5px;
    height: 50px;
    width: 100% !important;

    /* Ajustement des éléments de la bannière, répartition homogène */
    display: flex;
    justify-content: space-around;

    font-size: 18pt;

    z-index:10;
}

#banner a {
    /* Lorsque la fenêtre est suffisamment grande, on affiche du texte dans les liens */
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;

    /* Gestion de la forme des cadre qui apparaîtrons derrière */
    padding: 12px 10px;
    border-radius: 5pt;
}

#banner a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    text-shadow: none !important;
    box-shadow: 2px 2px 10px grey;
}

@media all and (max-width:550px) {
    /* Cas d'une fenêtre de largeur inférieure à 550px [mobile] */

    #banner a {
        max-height: 40px;
        min-width: 40px;
        padding: 5px !important;
    }

    #accueil {
        content: url("../ressources/accueil-blanc.png");
    }
    #trajets {
        content: url("../ressources/trajets-blanc.png");
    }
    #conversations {
        content: url("../ressources/conversations-blanc.png");
    }
    #historique {
        content: url("../ressources/historique-blanc.png");
    }
    #profil {
        content: url("../ressources/profil-blanc.png");
    }

    #accueil:hover {
        content: url("../ressources/accueil-noir.png");
    }
    #trajets:hover {
        content: url("../ressources/trajets-noir.png");
    }
    #conversations:hover {
        content: url("../ressources/conversations-noir.png");
    }
    #historique:hover {
        content: url("../ressources/historique-noir.png");
    }
    #profil:hover {
        content: url("../ressources/profil-noir.png");
    }

}



/*---------- FOOTER ----------*/

#pied {
    background-color: white;

    height: 42px;
    width: 100% !important;

    position: fixed;
    bottom: 0;
    z-index: 10;
}

#pied img {
    position: absolute;
    right: 6px;
    bottom: 6px;
    max-height: 30px;
}